@import "/src/styles/variables";
@import "/src/styles/globals";
@import "/src/styles/fg-variables";

.main {
  min-height: 100vh;
  padding: 6rem 0 5rem;
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    + section {
      padding-top: 4rem;
      margin-top: 3rem;
      border-top: 1px solid #DDD;
    }
  }
}
