@import "/src/styles/variables";
@import "/src/styles/globals";
@import "/src/styles/fg-variables";

.blocks {
  margin-top: 2rem;
}

.block {
  margin-top: 1rem;

  :global(.inner) {
    max-width: 40rem;
    padding-top: 2rem;
    margin: auto;
    border-top: 1px solid #ddd;
  }

  &:first-child {
    :global(.inner) {
      padding-top: 0;
      border-top: 0;
    }
  }

  h2 {
    margin-bottom: 0;
  }
}
