@import "/src/styles/variables";
@import "/src/styles/globals";
@import "/src/styles/fg-variables";

.experience {
  h2 {
    margin-bottom: 0;
  }

  header {
    p {
      &:first-of-type {
        margin-bottom: 0;
      }

      em {
        font-size: 1rem;
        display: block;
      }
    }
  }
}
