@import "/src/styles/variables";
@import "/src/styles/globals";
@import "/src/styles/fg-variables";

.nav {
  padding: 2rem;
  background: transparentize($color-bg, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 3rem;
  }

  a {
    font-weight: $font-weight-black;
  }

  :global(.navigating) & {
    opacity: 1;
    pointer-events: all;
  }

  :global(.t) & {
    transition: opacity ($duration-transition * 1.5) $easing ($duration-transition * 0.5);
  }

  :global(.t.navigating) & {
    transition: opacity ($duration-transition * 1.5) $easing ($duration-transition * 1);
  }
}
